@mixin bar__element--theme() {
  color: dimgrey;
  background: lightgray;
}



@mixin bar__element--hover_theme() {
  color: white;
  background: dimgrey;
  transition: 0.4s;
}

@mixin bar__element--theme--dark() {
  color: white;
  background: darkslategrey;
}



@mixin bar__element--hover_theme--dark() {
  color: white;
  background: rgb(67, 119, 119);
  transition: 0.4s;
}

@mixin button--theme() {
  color: dimgrey;
  background: lightgray;
}



@mixin button--hover_theme() {
  color: white;
  background: dimgrey;
  transition: 0.4s;
}

@mixin button--theme--dark() {
  color: white;
  background: darkslategrey;
}



@mixin button--hover_theme--dark() {
  color: white;
  background: rgb(67, 119, 119);
  transition: 0.4s;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

// [class*="col-"] {
//   float: left;
//   padding: 15px;
// }

#root {
  background-image: linear-gradient(to bottom right, white, gray);
  &.dark {
    background-image: linear-gradient(to bottom right, gray, black);
    color: white;
  }
}

.homepage {
  &__img1 {
      width: 100%;
      max-width: 800px;
      height: auto;
      float:right;
      margin-left: 18px;
  }
  &__img2 {
    width: 100%;
    max-width: 500px;
    height: auto;
    float:left;
    margin-right: 18px;
}


}

.navbar {
  // height: 41px;
  width: calc(100% - 191px);
  background-color: lightgray;
  overflow: auto;
  // position: fixed;
  top: 0;
  left: 191px;

  
  &__link {
    // display: block;
    width: 166px;
    overflow: hidden;
    float: left;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    @include bar__element--theme();

    &:hover {
      @include bar__element--hover_theme();
    }

    &--active {
      color: blue;
      background: dimgrey;
      transition: 0.4s;
    }
  }

  .mode-switch {
    // display:table;
    float: right;
    height: 100%;
    margin: 0 10px 0 0;

    .switch-label {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 180px;
      overflow: hidden;
      text-align: center;
      &.dark{
        color:white;
      }
    }

    .switch-main {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        & input {
          opacity: 0;
          width: 0;
          height: 0;
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked+.slider {
      background-color: rgb(104, 164, 104);
    }

    input:focus+.slider {
      box-shadow: 0 0 1px rgb(104, 164, 104);
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  &.dark {
    background-color: darkslategray;

    .navbar__link {
      @include bar__element--theme--dark();

      &:hover {
        @include bar__element--hover_theme--dark();
      }

      &--active {
        color: rgb(7, 236, 7);
        background: rgb(67, 119, 119);
        transition: 0.4s;
      }
    }
  }

}

@keyframes left-to-right {
  0% {transform: translateX(0px) rotate(0);}
  50% {transform: translateX(20px) rotate(0);}
  100% {transform: translateX(0px) rotate(0);}
}

@keyframes right-to-left {
  0% {transform: translateX(20px) rotate(0);}
  50% {transform: translateX(0px) rotate(0);}
  100% {transform: translateX(20px) rotate(0);}
}

.sidebar {
  padding: 0;
  position: fixed;
  top: 42px;
  width: 191px;
  background-color: lightgray;
  height: 100vh;

  &__element {
    position: relative;
    display: block;
    &.loader__container{
      width: 100%;
      
    .loader{
      width: 85%;
      border: 2px solid gray;
      border-radius: 50%;
      animation-name: left-to-right;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
    .loader-reverse{
      width: 85%;
      border: 2px solid gray;
      border-radius: 50%;
      animation-name: right-to-left;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
  }
  }

  &__button {
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    @include bar__element--theme();

    &:hover {
      @include bar__element--hover_theme();
    }

    &--hover {
      @include bar__element--hover_theme();
    }
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    z-index: 1;
    left: 100%;
    top: 0;
  }

  &__dropdown-link {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    @include bar__element--theme();

    &:hover {
      @include bar__element--hover_theme();
    }

    &--active {
      color: blue;
      background: dimgrey;
      transition: 0.4s;
    }
  }

  &__element:hover &__dropdown-content {
    display: block;
  }

  &.dark {
    background: darkslategrey;
    .sidebar__button {
      @include bar__element--theme--dark();

      &:hover {
        @include bar__element--hover_theme--dark();
      }

      &--hover {
        @include bar__element--hover_theme--dark();
      }
    }

    .sidebar__dropdown-content {
      background: darkslategrey;
    }

    .sidebar__dropdown-link {
      @include bar__element--theme--dark();

      &:hover {
        @include bar__element--hover_theme--dark();
      }

      &--active {
        color: rgb(7, 236, 7);
        background: rgb(67, 119, 119);
        transition: 0.4s;
      }
    }
  }
}

.page {
  display: inline-block;
  margin: 41px 0 0 191px;
  padding: 25px 100px;
  text-align: justify;
  min-height: 90vh;
}

.article {
  display: inline-block;
  margin: 41px 0 0 191px;
  padding: 25px 100px;
  text-align: justify;
  min-height: 90vh;

  &__footer {
    display: block;
    margin: 41px 0 0 191px;
    padding: 25px 100px;
    text-align: right;
    min-height: 5vh;
    opacity: 0.4;
    &.dark {
      color:white;
    }
  }
  &.dark {
    color:white;
  }
  
}

.footer {
  display: block;
  margin: 41px 0 0 191px;
  padding: 25px 100px;
  text-align: right;
  min-height: 5vh;
  opacity: 0.4;
}

.page.calendarpage { 
  padding: 5% 0 0 5%; 
  min-height: 95vh;

}
.calendarpage {
  &__form {
    label {
      display: block;
      text-align: left;
    }

    textarea {
      display: block;

    }

    &_fn_input {
      border: 0;
      padding: 5px 3px 5px 3px;
      margin: 5px 0 15px 0;
      width: calc(100% - 6px);
    }

    &_ln_input {
      border: 0;
      padding: 5px 3px 5px 3px;
      margin: 5px 0 15px 0;
      width: calc(100% - 6px);
    }

    &_em_input {
      border: 0;
      padding: 5px 3px 5px 3px;
      margin: 5px 0 15px 0;
      width: calc(100% - 6px);
    }

    &_me_input {
      border: 0;
      padding: 5px 3px 5px 3px;
      margin: 5px 0 15px 0;
      width: calc(100% - 6px);
    }

    &_date_input {
      border: 0;
      padding: 5px 3px 5px 3px;
      margin: 5px 0 30px 0;
      width: calc(100% - 6px);
    }
    &_submit_button {
      border: none;
      width: 100%;
      padding: 10px 12px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      color: black;
      background: gray;
      &:hover {
        @include button--hover_theme();
      }
      &:disabled {
        cursor: not-allowed;
        color: dimgrey;
        background: #80808070;
        transition: 5s;
      }
    }
  }
  &.dark {
    .calendarpage__form {
      color: white;
      &_submit_button {
        font-size: 16px;
        @include button--theme--dark();
        &:hover {
          @include button--hover_theme--dark();
        }
        &:disabled {
          cursor: not-allowed;
          background: #80808070;
          transition: 5s;
        }
      }
    }
  }


}


.icon {
  display: block;
}
.navbar__link {
  display: none;
}
.mode-switch {
  display: none;
}




/* Extra small - phones */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 1px) and (max-width: 767px) {
  .mobile__navbar {
    width: 100%;
    position: fixed;
    transition: 0.5s;
  }
  .mobile__navbar.responsive {
    height: 100%;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s;

  }
  .page {
    margin: 0;
    padding: 0 5%;
  }

  .article {
    margin: 0;
    padding: 0 5%;
  }

  .navbar.responsive {
    .mode-switch {
      display:table;
      float:unset;
      margin:auto;
    }
    .navbar__link {
      display: block;
    }
  }
  .sidebar.responsive {
    .sidebar__element {
      display: inline-block;

    }

  }
  .sidebar {
    display: block;
    height: auto;
    position: unset;
    text-align: center;
    .sidebar__element {
      display: none;
      .sidebar__dropdown-content {
        width: 100%;
        left: auto;
        top:100%;
      }
    }
  }

}



/* Small - tablets and phones */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .navbar {
    left:0;
  }

}
/* Medium - tablets */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;&.navbar{left:91.66%;}}
  .col-m-2 {width: 16.66%;&.navbar{left:83.33%;}}
  .col-m-3 {width: 25%;&.navbar{left:75%;}}
  .col-m-4 {width: 33.33%;&.navbar{left:66.66%;}}
  .col-m-5 {width: 41.66%;&.navbar{left:58.33%;}}
  .col-m-6 {width: 50%;&.navbar{left:50%}}
  .col-m-7 {width: 58.33%;&.navbar{left:41.66%;}}
  .col-m-8 {width: 66.66%;&.navbar{left:33.33%;}}
  .col-m-9 {width: 75%;&.navbar{left:25%;}}
  .col-m-10 {width: 83.33%;&.navbar{left:16.66%;}}
  .col-m-11 {width: 91.66%;&.navbar{left:8.33%;}}
  .col-m-12 {width: 100%;}

  .navbar {
    left:0;
    position: fixed;
    .navbar__link {
      display: block;
    }
    .mode-switch {
      display: table;
    }
  }
  .sidebar {
    position:fixed;
  }
  .mobile__iconbar {
    display: none;
  }
  .page {
    padding: 0 1%;
  }
  .article {
    padding: 0 1%;
  }
}
/* Large - laptops/desktops */
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;&.navbar{left:91.66%;}}
  .col-l-2 {width: 16.66%;&.navbar{left:83.33%;}}
  .col-l-3 {width: 25%;&.navbar{left:75%;}}
  .col-l-4 {width: 33.33%;&.navbar{left:66.66%;}}
  .col-l-5 {width: 41.66%;&.navbar{left:58.33%;}}
  .col-l-6 {width: 50%;&.navbar{left:50%}}
  .col-l-7 {width: 58.33%;&.navbar{left:41.66%;}}
  .col-l-8 {width: 66.66%;&.navbar{left:33.33%;}}
  .col-l-9 {width: 75%;&.navbar{left:25%;}}
  .col-l-10 {width: 83.33%;&.navbar{left:16.66%;}}
  .col-l-11 {width: 91.66%;&.navbar{left:8.33%;}}
  .col-l-12 {width: 100%;}

  .page {
    padding: 0 5%;
  }
  .article {
    padding: 0 5%;
  }
}

/* Extra large - laptops and desktops */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;&.navbar{left:91.66%;}}
  .col-xl-2 {width: 16.66%;&.navbar{left:83.33%;}}
  .col-xl-3 {width: 25%;&.navbar{left:75%;}}
  .col-xl-4 {width: 33.33%;&.navbar{left:66.66%;}}
  .col-xl-5 {width: 41.66%;&.navbar{left:58.33%;}}
  .col-xl-6 {width: 50%;&.navbar{left:50%}}
  .col-xl-7 {width: 58.33%;&.navbar{left:41.66%;}}
  .col-xl-8 {width: 66.66%;&.navbar{left:33.33%;}}
  .col-xl-9 {width: 75%;&.navbar{left:25%;}}
  .col-xl-10 {width: 83.33%;&.navbar{left:16.66%;}}
  .col-xl-11 {width: 91.66%;&.navbar{left:8.33%;}}
  .col-xl-12 {width: 100%;}
}
